<div>
  <%= form_for (@quiz) do |f| %>
  <%= render partial: "layouts/errors", locals: {data: @quiz} %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.fields_for :questions do |builder| %>
      <%= render "question_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Question", f, :questions %></p>
    <p><%= f.submit "Submit" %></p>
  <% end %>
</div>
