<div>
  <div>
    <h1>Sign Up</h1>
  </div>
  <div>
    <%= form_for @user do |f| %>
    <%= render partial: "layouts/errors", locals: { data: @user } %>
      <div>
        <%= f.text_field :first_name, placeholder: "First Name" %>
      </div>
      <div>
        <%= f.text_field :last_name, placeholder: "Last Name" %>
      </div>
      <div>
        <%= f.text_field :email, placeholder: "Email" %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
      </div>
      <div>
        <%= f.submit "Sign Up" %>
      </div>
    <% end %>
  </div>
</div>
